@import url(reset.css);
@import url(font-awesome.min.css);

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

body {
    background-color: #935d8c;
    background-image: url("images/overlay.png"), -moz-linear-gradient(90deg, #90223b , #2c0d3b , #000000 90%);
    background-image: url("images/overlay.png"), -webkit-linear-gradient(90deg, #90223b , #2c0d3b , #000000 90%);
    background-image: url("images/overlay.png"), -ms-linear-gradient(90deg, #90223b , #2c0d3b , #000000 90%);
    background-image: url("images/overlay.png"), linear-gradient(90deg, #90223b , #2c0d3b , #000000 90%);
    color: rgba(255, 255, 255, 0.65);
    overflow-x:hidden;
}



@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
         url('fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
  }

  body, body * {
    font-family: "Source Sans Pro";
	font-weight: 300;
    }

  a, h1, h2, p {
    color: #ffffff;
  }

  a {
    text-decoration: none;
  }


  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -99;
  }

.download-button {
    max-width: 10em;
}

.download-button img {
    max-width: 10em;
}


.major {
    display: flex;
    justify-content: center;   
}

h1 {
    margin: 0;
}

.grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1); 
    filter: grayscale(70%); 
  }

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#skill-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#skills div img{
    max-width: 8em;
}



/* Wrapper */

#wrapper {
    width: 100%;
    margin: 0 auto;
}



/* Nav */

#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #ffffff;
    position: fixed;
    width: 100%;
    padding-top: 1em;
	padding-bottom: 1em;
    background-color: rgba(255, 71, 244, 0.5);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}


    #nav code {
        background: rgba(222, 222, 222, 0.25);
        border-color: #dddddd;
    }

    #nav hr {
        border-bottom-color: #dddddd;
    }

    #nav + #main {
        padding-top: 4.25em;
    }

    #nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #nav ul li {
            -moz-transition: margin 0.2s ease;
            -webkit-transition: margin 0.2s ease;
            -ms-transition: margin 0.2s ease;
            transition: margin 0.2s ease;
            display: inline-block;
            margin: 0 0.35em;
            padding: 0;
            vertical-align: middle;
        }

            #nav ul li a {
                -moz-transition: font-size 0.2s ease;
                -webkit-transition: font-size 0.2s ease;
                -ms-transition: font-size 0.2s ease;
                transition: font-size 0.2s ease;
                display: inline-block;
                height: 2.25em;
                line-height: 2.25em;
                padding: 0 1.25em;
                border: 0;
                border-radius: 8px;
                box-shadow: inset 0 0 0 1px transparent;
            }

                #nav ul li a:hover {
                    background-color: rgba(222, 222, 222, 0.25);
                }

                #nav ul li a.active {
                    background-color: #ffffff;
                    color: #636363;
                    box-shadow: none;
                }

    #nav.alt {
        position: fixed;
        top: 0;
        padding: 0.5em 1em;
        background-color: rgba(247, 247, 247, 0.95);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 10000;
    }

        #nav.alt ul li {
            margin: 0 0.175em;
        }

            #nav.alt ul li a {
                font-size: 0.9em;
            }

    @media screen and (max-width: 736px) {

        #nav {
            display: none;
        }

            #nav + #main {
                padding-top: 0;
            }

    }

    #nav + #main {
        padding-top: 4.25em;
    }





/* Header */

#header-content {
    display: flex;
}

#header-inner-content {
    display: flex;
    justify-content: row;

}

#header {
    padding: 5em 5em 1em 5em ;
    text-align: center;
    padding: 7em 5em 4em 5em ;
}

    #header h1 {
        margin: 0 0 0.25em 0;
        font-size: 3.25em;
    }

    #header p {
        font-size: 1.25em;
        letter-spacing: -0.025em;
    }


            #header .logo img {
                display: block;
                margin: 0 auto;
                max-width: 55%;
            }

    @media screen and (max-width: 1280px) {

        #header {
            padding: 4em 4em 0.1em 4em ;
        }

            #header.alt {
                padding: 6em 4em 3em 4em ;
            }

    }

    @media screen and (max-width: 980px) {

        #header {
            padding: 4em 3em 0.1em 3em ;
        }

            #header.alt {
                padding: 5em 3em 2em 3em ;
            }

    }

    @media screen and (max-width: 736px) {

        #header {
            padding: 3em 2em 0.1em 2em ;
        }

            #header p {
                font-size: 1em;
                letter-spacing: 0;
            }

                #header p br {
                    display: none;
                }

            #header.alt {
                padding: 4em 2em 1em 2em ;
            }

                #header.alt h1 {
                    font-size: 2.5em;
                }

    }

    @media screen and (max-width: 480px) {

        #header {
            padding: 3em 1.5em 0.1em 1.5em ;
        }

            #header.alt {
                padding: 4em 1.5em 1em 1.5em ;
            }

    }

    @media screen and (max-width: 360px) {

        #header {
            padding: 2.5em 1em 0.1em 1em ;
        }

            #header.alt {
                padding: 3.5em 1em 0.5em 1em ;
            }

    }







/* Main */

#fullscreen {
    height: 100vh;
    display: flex;
}

#cent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    color: #636363;
    border-radius: 0.25em;
    box-sizing: inherit;
}

    #about, #features {
        background-color: #2f2b2b;
    }

    #demo {
        background-color: rgb(121, 31, 115);
    }



    /* About */

    .section-content {
        margin: 2%;
    }

    #about-columns {
        display: flex;
        flex-direction: row;
    }

    .col {
        
        justify-content: space-around;
        margin: 2%;
    }

    @media screen and (max-width: 1280px) {
        #about-columns {
        flex-direction: column;
    }
    }



    /* Demo */




    


    @media screen and (max-width: 1280px) {

        #main > .main {
            padding: 4em 4em 2em 4em ;
        }

            #main > .main > .image.main:first-child {
                margin: -4em 0 4em -4em;
                width: calc(100% + 8em);
            }

    }

    @media screen and (max-width: 980px) {

        #main > .main {
            padding: 4em 3em 2em 3em ;
        }

            #main > .main > .image.main:first-child {
                margin: -4em 0 4em -3em;
                width: calc(100% + 6em);
            }

    }

    @media screen and (max-width: 736px) {

        #main > .main {
            padding: 3em 2em 1em 2em ;
        }

            #main > .main > .image.main:first-child {
                margin: -3em 0 2em -2em;
                width: calc(100% + 4em);
            }

    }

    @media screen and (max-width: 480px) {

        #main > .main {
            padding: 3em 1.5em 1em 1.5em ;
        }

            #main > .main > .image.main:first-child {
                margin: -3em 0 1.5em -1.5em;
                width: calc(100% + 3em);
            }

    }

    @media screen and (max-width: 360px) {

        #main {
            border-radius: 0;
        }

            #main > .main {
                padding: 2.5em 1em 0.5em 1em ;
            }

                #main > .main > .image.main:first-child {
                    margin: -2.5em 0 1.5em -1em;
                    width: calc(100% + 2em);
                    border-radius: 0;
                }

                    #main > .main > .image.main:first-child img {
                        border-radius: 0;
                    }

    }




    /* Footer */

	#footer {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 5em 5em 3em 5em ;
		width: calc(100% + 2em);
		margin: 0 0 3em -2em;
	}

		#footer > * {
			width: calc(50% - 2em);
			margin-left: 2em;
		}

		#footer .copyright {
			width: 100%;
			margin: 2.5em 0 2em 0;
			font-size: 0.8em;
			text-align: center;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 4em 4em 2em 4em ;
			}

		}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 3em 2em 3em ;
				display: block;
				margin: 0 0 3em 0;
				width: 100%;
			}

				#footer > * {
					width: 100%;
					margin-left: 0;
					margin-bottom: 3em;
				}

				#footer .copyright {
					text-align: left;
				}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 2em 1em 2em ;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 3em 1.5em 1em 1.5em ;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 2.5em 1em 0.5em 1em ;
			}

		}

